In [2]:
import pandas as pd
data= pd.read_csv("covid19_tweets.csv")
data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [3]:
data.describe()

       user_followers   user_friends  user_favourites
count    7.443600e+04   74436.000000     7.443600e+04
mean     1.059513e+05    2154.721170     1.529747e+04
std      8.222900e+05    9365.587474     4.668971e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      1.660000e+02     153.000000     2.200000e+02
50%      9.600000e+02     552.000000     1.927000e+03
75%      5.148000e+03    1780.250000     1.014800e+04
max      1.389284e+07  497363.000000     2.047197e+06

In [10]:
a = data.describe().transpose()
rangos = a['max']-a['min']
print(rangos)

user_followers     13892841.0
user_friends         497363.0
user_favourites     2047197.0
dtype: float64

In [8]:
data['user_location']

0                  astroworld
1                New York, NY
2            Pewee Valley, KY
3        Stuck in the Middle
4           Jammu and Kashmir
                 ...
74431           Lexington, KY
74432           üò∑ #stayathome
74433             Âåó‰∫¨, ‰∏≠Âçé‰∫∫Ê∞ëÂÖ±ÂíåÂõΩ
74434                     NaN
74435             Chicago, IL
Name: user_location, Length: 74436, dtype: object

In [9]:
data['user_description']

0        wednesday addams as a disney princess keepin i...
1        Husband, Father, Columnist & Commentator. Auth...
2        #Christian #Catholic #Conservative #Reagan #Re...
3        #Browns #Indians #ClevelandProud #[]_[] #Cavs ...
4        üñäÔ∏èOfficial Twitter handle of Department of Inf...
                               ...
74431              The only things I collect are memories.
74432    Law Prof @DickinsonLaw & Entrepreneur | Crypto...
74433    Our mission is to provide news and perspective...
74434    Reagan conservative and attorney raised in the...
74435    My spectral decomposition has a significant da...
Name: user_description, Length: 74436, dtype: object

In [10]:
data['user_created']

0        2017-05-26 05:46:42
1        2009-04-16 20:06:23
2        2009-02-28 18:57:41
3        2019-03-07 01:45:06
4        2017-02-12 06:45:15
                ...
74431    2010-09-24 02:01:15
74432    2013-05-14 20:15:24
74433    2018-02-04 12:36:42
74434    2014-02-18 03:46:28
74435    2016-12-19 19:55:00
Name: user_created, Length: 74436, dtype: object

In [11]:
data['user_followers']

0           624
1          2253
2          9275
3           197
4        101009
          ...
74431        85
74432      4289
74433      1413
74434      2554
74435       310
Name: user_followers, Length: 74436, dtype: int64

In [12]:
data['user_friends']

0         950
1        1677
2        9525
3         987
4         168
         ...
74431     586
74432    1066
74433     102
74434    1733
74435    1748
Name: user_friends, Length: 74436, dtype: int64

In [13]:
data['user_favourites']

0         18775
1            24
2          7254
3          1488
4           101
          ...
74431      1902
74432     53569
74433        16
74434    129104
74435     60133
Name: user_favourites, Length: 74436, dtype: int64

In [14]:
data['user_verified']

0        False
1         True
2        False
3        False
4        False
         ...
74431    False
74432    False
74433    False
74434    False
74435    False
Name: user_verified, Length: 74436, dtype: bool

In [15]:
data['date']

0        2020-07-25 12:27:21
1        2020-07-25 12:27:17
2        2020-07-25 12:27:14
3        2020-07-25 12:27:10
4        2020-07-25 12:27:08
                ...
74431    2020-08-04 03:13:29
74432    2020-08-04 03:13:26
74433    2020-08-04 03:13:22
74434    2020-08-04 03:13:19
74435    2020-08-04 03:13:15
Name: date, Length: 74436, dtype: object

In [16]:
data['text']

0        If I smelled the scent of hand sanitizers toda...
1        Hey @Yankees @YankeesPR and @MLB - wouldn't it...
2        @diane3443 @wdunlap @realDonaldTrump Trump nev...
3        @brookbanktv The one gift #COVID19 has give me...
4        25 July : Media Bulletin on Novel #CoronaVirus...
                               ...
74431    So far this summer I have filled up my lawn mo...
74432    ICYMI: REPLAY: #TechIntersectüß© #16: Isaiah "@B...
74433    Community workers in Tianshan District of Urum...
74434    If only we had a responsible media to warn us ...
74435    MAGA: #COVID19 is just a cold &amp; it'd be go...
Name: text, Length: 74436, dtype: object

In [17]:
data['hashtags']

0                                            NaN
1                                            NaN
2                                    ['COVID19']
3                                    ['COVID19']
4              ['CoronaVirusUpdates', 'COVID19']
                          ...
74431              ['COVID19', 'QuarantineLife']
74432    ['TechIntersect', 'Bitcoin', 'COVID19']
74433                      ['China', 'Xinjiang']
74434                                ['COVID19']
74435         ['COVID19', 'Hydroxycholoroquine']
Name: hashtags, Length: 74436, dtype: object

In [18]:
data['source']

0         Twitter for iPhone
1        Twitter for Android
2        Twitter for Android
3         Twitter for iPhone
4        Twitter for Android
                ...
74431     Twitter for iPhone
74432        Twitter Web App
74433        Twitter Web App
74434     Twitter for iPhone
74435    Twitter for Android
Name: source, Length: 74436, dtype: object

In [19]:
data['is_retweet']

0        False
1        False
2        False
3        False
4        False
         ...
74431    False
74432    False
74433    False
74434    False
74435    False
Name: is_retweet, Length: 74436, dtype: bool